/* centering title the oldschool way */
.component-b {
  animation: componentB forwards 0.8s;
}

@keyframes componentB {
  from {
    transform: translateY(30rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
