/* Positioning components in a row + centering them (yeah i felt like it) */
.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .App {
    flex-direction: column;
  }
}
