* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(214, 213, 213);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  /* background-color: #a1eacd; */
  background: linear-gradient(-20deg, transparent 55%, #7c7c7c 0) 0 40%,
    linear-gradient(60deg, transparent 55%, #ffffff 0) 0 50%;
}

.component {
  width: 300px;
  height: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(131, 130, 130) 2px 2px 7px;
}

.component_title {
  margin: 2rem;
}

.aquamarine {
  background-color: rgb(38, 252, 206);
  transition: all 0.5s ease-in-out;
}

.lightpink {
  background-color: rgb(252, 152, 167);
  transition: all 0.5s ease-in-out;
}

.rectangle {
  border: none;
  width: 70%;
  padding: 0.7rem;
  border-radius: 3px;
  font-size: 1rem;
}

.text-output {
  /* background-color: rgb(230, 235, 233); */
  height: 1rem;
  padding: 0.5rem 0.7rem 0.9rem 0.7rem;
}

.color-button {
  background-color: rgb(59, 59, 59);
  border: none;
  color: #fff;
  padding: 0.7rem 0;
  border-radius: 3px;
  /* box-shadow: rgb(131, 130, 130) 2px 2px 7px; */
  transition: all 0.2s ease-in-out;
  margin: 2rem 0;
}

.color-button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}
